@import 'ag-grid-community/styles/ag-grid.min.css';
@import 'ag-grid-community/styles/ag-theme-quartz.min.css';
@import 'ag-grid-community/styles/ag-theme-balham.min.css';
@import 'ag-grid-community/styles/ag-theme-alpine.min.css';
@import 'variables.scss';


html {
  background-color: var(--primary-background);
  padding: 1rem;
}

html, body {
  box-sizing: border-box;
}
