header {
  height: 4.5rem;
  width: 100%;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  background-color: var(--burnt-orange);
  div {
    align-items: center;
    display: flex;
    height: 100%;
    margin-left: 2rem;
  }
}
